@media screen {
    .wrapper {
        width: 100%;
    }
}
* {
    margin: 0;
}
.header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 65px;
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.3);
    border-top: 1px solid black;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.background {
    display: flex;
    grid-area: h;
}
.backgroundAside {
    display: flex;
    grid-area: a;
}
.backgroundFooter {
    display: flex;
    grid-area: f;
}

.aside {
    margin-top: 67px;
    height: 515px;
    position: fixed;
    padding: 5px;
    background-color: rgb(225, 225, 225);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

.videos {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 50px;
    grid-area: c;
}

.footer {
    position: fixed;
    margin-top: 595px;
    background-color: rgb(225, 225, 225);
    display: grid;
}

.wrapper {
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 65px 530px 160px 1fr;
    grid-template-areas:
    "h h"
    "a c"
    "f c"
    ". c";
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.header-titleName {
    color: orange;
    padding-left: 30px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    align-items: center;
}

.header-searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-searchBar > input {
    height: 25px;
    width: 20rem;
}
.header-searchBar > input:hover {
    border-radius: 3px;
    border: 3px solid darkblue;
    width: 20rem;
}

.header-icons {
    color: coral;
    padding-right: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-icon {
    margin-right: 5px;
    margin-left: 3px;
    margin-top: 4px;
    background: url("icons/search.png");
    width: 16px;
    height: 16px;
}
.backgroundSearch {
    height: 23px;
    width: 22px;
    border: 1px solid black;
    background-color: rgb(200, 200, 200);
}
.mic {
    margin-left: 2px;
    background: url("icons/mic.png");
    width: 24px;
    height: 24px;
}
.mic:hover {
    background: url("icons/michover.png");
    width: 24px;
    height: 24px;
}

.bell {
    margin-right: 10px;
    background: url("icons/bell.png");
    width: 24px;
    height: 24px;
}
.bell:hover {
    background: url("icons/bellhover.png");
    width: 24px;
    height: 24px;
}

.paw {
    background: url("icons/paw.png");
    width: 32px;
    height: 32px;
}
.paw:hover {
    background: url("icons/pawhover.png");
    width: 32px;
    height: 32px;
}
.show {
    position: relative;
    display: inline-block;
}

.cur {
    cursor: pointer;
}

.table {
    position: fixed;
    background-color: rgba(256, 256, 256, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    width: 100px;
    height: 59px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    top: 55px;
    right: 16px;
}
.table:hover {
    background-color: rgba(256, 256, 256, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}

.table div:hover {
    background-color: rgb(180, 180, 180);
}

.profile, .settings, .settings{
    width: 100px;
    text-align: center;
}

.profile {
    color: rgba(0, 0, 0, 0.2);
}
.settings {
    border-bottom: 1px solid rgb(120, 120, 120);
    color: rgba(0, 0, 0, 0.2);
}
.logout {
    width: 100px;
    text-align: center;
    color: rgba(256, 0, 0, 0.2);
}
.profile:hover {
    color: rgba(0, 0, 0, 1);
}
.settings:hover {
    border-bottom: 1px solid rgb(120, 120, 120);
    color: rgba(0, 0, 0, 1);
}
.logout:hover {
    width: 100px;
    text-align: center;
    color: rgba(256, 0, 0, 1);
}

.user {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Bulka {
    margin-left: 10px;
}

.user:hover {
    background-color: rgb(180, 180, 180);
}

.user div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.name {
    display: flex;
    width: 100px;
    padding: 0;
}
.name a {
    text-decoration: none;
    color: black;
}
.name a:hover {
    color: blue;
}

.info {
    padding-top: 20px;
    text-align: center;
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
    margin: 20px;
    width: 170px;
    height: 99px;
}

.info h3::selection {
    background-color: orange;
    color: white;
}

.messengers {
    padding-top: 15px;
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer button, .header button {
    border: 0;
}

.telegram-icon {
    margin-left: 10px;
    background: url("icons/telegram.png");
    width: 24px;
    height: 24px;
}
.telegram-icon:hover {
    background: url("icons/telegramhover.png");
    width: 24px;
    height: 24px;
}

.instagram-icon {
    margin-left: 2px;
    background: url("icons/instagram.png");
    width: 24px;
    height: 24px;
}
.instagram-icon:hover {
    background: url("icons/instagramhover.png");
    width: 24px;
    height: 24px;
}

.facebook-icon {
    margin-right: 10px;
    background: url("icons/facebook.png");
    width: 24px;
    height: 24px;
}
.facebook-icon:hover {
    background: url("icons/facebookhover.png");
    width: 24px;
    height: 24px;
}

.selectTopic {
    padding: 20px;
    margin-bottom: 20px;
    width: 1270px;
    overflow: auto;
    display: flex;
    gap: 10px;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.selectTopic::-webkit-scrollbar {
    display: none;
}

.selectTopic button {
    padding: 0 12px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 12px;
    max-height: 20px;
    cursor: pointer;
}

.selectTopic p {
    font-size: 16px;
}

.streamerBlock {
    margin: auto auto 20px;
    width: 420px;
    height: 220px;
    background-color: rgb(230, 230, 230);
    box-shadow: 1px 5px 4px rgba(10, 10, 10, 0.3);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-template-rows: 25px 1fr;
    grid-template-areas:
    "p u"
    "p t";
}

.preview {
    cursor: pointer;
    grid-area: p;
}
.hoverVideo {
    display: table;
    position: relative;
    width: 360px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
    bottom: 224px;
}
.hoverVideo:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.middlePaw {
    margin: 100px auto auto;
    display: block;
    background: url("icons/pawload.png");
    width: 32px;
    height: 32px;
    z-index: 1;
}

.userInfo {
    padding-top: 7px;
    width: 130px;
    height: 25px;
    display: grid;
    grid-template-columns: 30px 100px;
    grid-template-rows: 20px 5px;
    grid-template-areas:
    "a v"
    "a c";

    grid-area: u;
}
.nameVideo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: v;
}
.userInfo a {
    text-decoration: none;
    color: black;
}

.nameChannel {
    cursor: pointer;
    height: 10px;
    grid-area: c;
}
.nameChannel p {
    font-size: 9px;
}
.avatar {
    padding: 3px 2px;
    grid-area: a;
}
.titleVideo {
    padding: 20px 4px;
    grid-area: t;
}
.titleVideo p {
    font-size: 14px;
}
.titleVideo p::selection {
    background-color: orange;
    color: white;
}
.gallery {
    display: flex;
}

.videoBlock {
    margin: 0 15px;
    width: 360px;
    height: 260px;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 220px 1fr;
    grid-template-areas:
    "p p"
    "up .";
}

.fullNameVideo {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    grid-area: fv;
}

.userPubInfo {
    width: 360px;
    height: 25px;
    display: grid;
    grid-template-columns: 30px 1fr 25px;
    grid-template-rows: 20px 5px;
    grid-template-areas:
    "a fv m"
    "a c m";

    grid-area: up;
}
.menuCh {
    background: url("icons/dots.png");
    width: 24px;
    height: 24px;
    grid-area: m;
}

.conclusion {
    margin: 40px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.active {
    color: orange;
}
.live {
    bottom: 440px;
    left: 8px;
    display: table;
    position: relative;
}
.streaming {
    margin-left: 95px;
    margin-top: 1px;
    display: table;
    position: fixed;
    width: 16px;
}

.viewers {
    bottom: 270px;
    left: 270px;
    background-color: rgba(0, 0, 0, 0.7);
    display: table;
    position: relative;
    border-radius: 3px;
}

.viewers > p {
    margin: 3px 3px;
    color: white;
    font-size: 12px;
}

.hoverMainVideo {
    display: table;
    position: relative;
    width: 280px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
    bottom: 224px;
}

.hoverMainVideo:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.youtube {
    margin-left: 5px;
}